#root {
  width: 100%;
  height: 100dvh;
  min-width: 375px;
  max-width: calc((600px + (16px * 2)) + 375px);
  min-height: 375px;
  max-height: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  /* & > *:not(:last-child) {
    border-bottom: 1px solid rgba(50, 33, 33, 0.1);
  } */
}

/* header {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: center;
  & > h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  & > h2 {
    font-size: 16px;
    line-height: 24px;
  }
} */

main {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
  & > div {
    flex-grow: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  & > aside {
    background-color: #fbfdff;
    width: 375px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #d9d9d9;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    & > div:first-child {
      display: flex;
    }
    & > * {
      padding: 16px;
      &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
    & p {
      user-select: none;
    }
  }
}

/* footer {
  display: flex;
  text-align: center;
} */

button {
  background-color: #e6f4fe;
  min-width: 30px;
  min-height: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #acd8fc;
  border-radius: 4px;
  & > svg {
    width: auto;
    height: 16px;
  }
  &[data-title] {
    position: relative;
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #d9d9d9;
    &:has(svg) > svg {
      filter: grayscale(1);
    }
  }
  &:not(:disabled) {
    /* & > svg {
      fill: #fff;
    }*/
    &:hover {
      background-color: #d5efff;
    }
  }
}

input,
select,
textarea {
  background-color: #fbfdff;
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  &:is([type='color']) {
    background-color: #e6f4fe;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    &::-webkit-color-swatch {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      border: none;
      border-radius: 2px;
    }
    &::-moz-color-swatch {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      border: none;
      border-radius: 2px;
    }
  }
  &:is([type='checkbox']) {
    appearance: none;
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:checked {
      &::after {
        content: '✔';
        background-color: #e6f4fe;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -1px;
        left: -1px;
        color: #5eb1ef;
        border: 1px solid #acd8fc;
        border-radius: 4px;
      }
      &:disabled {
        &::after,
        &:hover::after {
          background-color: rgba(0, 0, 0, 0.05);
          border-color: #d9d9d9;
          filter: grayscale(1);
        }
      }
      &:not(:disabled) {
        /* &::after {
          color: #fff;
        } */
        &:hover::after {
          background-color: #d5efff;
        }
      }
    }
  }
  &:is([type='number']) {
    appearance: textfield;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &:is(textarea) {
    min-height: 30px;
    padding-right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 10px;
    }
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &:invalid {
    border-color: #e6f4fe;
  }
}

input[type='color']:disabled::-webkit-color-swatch {
  filter: grayscale(1);
}

input[type='color']:disabled::-moz-color-swatch {
  filter: grayscale(1);
}

label {
  display: flex;
  gap: 8px;
  position: relative;
  &:has(> [type='checkbox']) {
    align-items: center;
    & > p {
      order: 1;
    }
    &:has(> svg) {
      & > [type='checkbox'] {
        width: 30px;
        height: 30px;
        &:checked:after {
          content: '';
        }
      }
      & > svg {
        pointer-events: none;
        width: auto;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 1;
      }
    }
    /* &:hover > [type='checkbox'] {
      background-color: rgba(0, 0, 0, 0.05);
    } */
  }
  &:not(:has(> [type='checkbox'])) {
    flex-direction: column;
  }
  &:has(> [type='checkbox']:disabled):has(> svg) > svg {
    filter: grayscale(1);
  }
  &:has(> [type='checkbox']:not(:disabled)) {
    cursor: pointer;
    &:hover > [type='checkbox'] {
      background-color: #d5efff;
      border-color: #acd8fc;
    }
  }
  /* &:has(> [type='checkbox']:not(:disabled):checked):has(svg) > svg {
    fill: #fff;
  } */
  &:has(> .field_group) {
    flex-direction: row;
    align-items: center;
    & > p {
      order: 1;
    }
    & > input,
    & > textarea {
      width: calc(96px - (30px * 2));
      margin: 0 30px;
      text-align: center;
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
    }
    & > .field_group {
      width: 96px;
      margin-left: calc(-96px + -8px);
      justify-content: space-between;
      & > button:not(:first-child) {
        border-left-width: 1px;
      }
    }
  }
}

[data-line='t'] {
  margin-top: 4px;
  padding: 12px 8px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-line-t-title] {
  position: relative;
  &:has(div:not(.field_group)) {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

[data-line-t-title]::after {
  content: attr(data-line-t-title);
  background-color: #fbfdff;
  padding: 0 4px;
  position: absolute;
  top: -6px;
  left: 6px;
  color: #646464;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

label[data-title]:hover::after,
button[data-title]:hover::after {
  content: attr(data-title);
  background-color: #f2f2f2;
  padding: 2px 6px;
  position: absolute;
  left: 0;
  z-index: 2;
  color: #5b5b5b;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;
}

label[data-title]:has(> :disabled):hover::after,
button[data-title]:disabled:hover::after {
  content: '(Disabled) ' attr(data-title);
}

label[data-title]:hover::after {
  top: calc(100% + 1px);
}

button[data-title]:hover::after {
  top: calc(100% + 2px);
}

label[data-title-x='r']:hover::after,
button[data-title-x='r']:hover::after {
  left: unset;
  right: 0;
  text-align: right;
}

label[data-title-y='t']:hover::after,
button[data-title-y='t']:hover::after {
  top: unset;
}

label[data-title-y='t']:hover::after {
  bottom: calc(100% + 1px);
}

button[data-title-y='t']:hover::after {
  bottom: calc(100% + 2px);
}

.field_group {
  display: flex;
  column-gap: 0;
  & > button:not(:last-child),
  & > label:not(:last-child) > input,
  & > label:not(:last-child) > select,
  & > label:not(:last-child) > textarea,
  & > label:not(:last-child) > [type='checkbox']:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > button:not(:first-child),
  & > label:not(:first-child) > input,
  & > label:not(:first-child) > select,
  & > label:not(:first-child) > textarea {
    border-left-width: 0;
  }
  & > button:not(:first-child),
  & > label:not(:first-child) > input,
  & > label:not(:first-child) > select,
  & > label:not(:first-child) > textarea,
  & > label:not(:first-child) > [type='checkbox']:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > label > [type='checkbox']:after {
    z-index: 1;
  }
  &:has(> label > textarea) {
    align-items: flex-start;
    & > label:has(> textarea) {
      width: 100%;
    }
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  & div:not(.field_group) {
    display: flex;
    column-gap: 12px;
    & > label:has(> [type='checkbox']) {
      min-height: 30px;
    }
    & > label:not(:has(> [type='checkbox'])):not(:has(.field_group)):first-child {
      flex-grow: 1;
    }
  }
}

.widget {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.widget_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
}

.widget_header > div:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.widget_body > div {
  align-items: flex-start;
}

.widget_columns > div {
  display: flex;
  flex-direction: column;
  & > .field_group:first-child {
    align-items: flex-start;
    & > label {
      &:first-child {
        flex-grow: 1;
      }
    }
  }
  & > .field_group:nth-child(2) {
    margin-top: -1px;
    & > label {
      &:first-child {
        flex-basis: 37.5%;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}

.widget_body,
.widget_columns {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.widget_columns > div > div:not(:first-child) > label > input,
.widget_columns > div > div:not(:first-child) > label > select,
.widget_columns > div > div:not(:first-child) > label > textarea,
.widget_columns > div > label:not(:first-child) > input,
.widget_columns > div > label:not(:first-child) > select,
.widget_columns > div > label:not(:first-child) > textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget_columns > div > div:not(:last-child) > label > input,
.widget_columns > div > div:not(:last-child) > label > select,
.widget_columns > div > div:not(:last-child) > label > textarea,
.widget_columns > div > label:not(:last-child) > input,
.widget_columns > div > label:not(:last-child) > select,
.widget_columns > div > label:not(:last-child) > textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

*:focus {
  outline: 1px solid #5eb1ef;
  outline-offset: 0;
  z-index: 1;
}
